---

---

<main class="bg-primary">
  <div class="flex justify-center items-center gap-10">
    <picture>
      <img src="/assets/images/404Img/leaf-1.png" alt="Leaf" loading="eager" />
    </picture>
    <div class="mt-10 -mb-10">
      <picture>
        <img
          src="/assets/images/404Img/sitedown.png"
          alt="Leaf"
          loading="eager"
          class="opacity-40"
        />
    </div>
    <picture>
      <img src="/assets/images/404Img/leaf-2.png" alt="Leaf" loading="eager" />
    </picture>
  </div>
  <div class="flex flex-col justify-between h-screen md:h-full">
    <div class="h-full flex flex-col justify-center md:justify-end py-10">
      <h1 class="capitalize text-tertiary mb-5 text-[30px] font-bold">☠️ Site out of service ☠️</h1>
      <p class="w-full md:w-1/2 mx-auto px-5 md:px-0">
        Currently, access to the website is suspended due to outstanding payments or expiration of the purchased plan. We invite you to contact your assigned agent or our consulting team to regularize your situation and reactivate your service as soon as possible. We thank you for your preference and we are committed to help you solve this problem as quickly and efficiently as possible.
      </p>
    </div>
    <picture>
      <img
        src="/assets/images/404Img/leaf-3.png"
        alt="Leaf"
        loading="eager"
        class="w-full h-[300px] md:h-full object-cover object-center"
      />
    </picture>
  </div>
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
  }

  p {
    color: #c6c6c6;
  }
</style>
