---
---

<main class="bg-primary">
  <h1 class="mb-5 text-[30px] font-bold">🚧 Sitio en Construcción 🚧</h1>
  <p>We are working to improve our site, come back soon!</p>
</main>

<style>

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
  }

  h1 {
    color: #fff;
  }

  p {
    color: #c5c5c5;
  }
</style>
